{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<div class="banner">
  <div class="tools">
     <button class="pdp">Changer de photo de profil</button>
     <button class="plus"><span class="point"></span><span class="point"></span><span class="point"></span></button>
  <div>
</div>
{% endblock %}