{% extends "base.html.twig" %}
{% block title %}Chat
{% endblock %}
{% block stylesheets %}
	<meta http-equiv='cache-control' content='no-cache'>
	<link href="https://unpkg.com/ionicons@4.5.0/dist/css/ionicons.min.css" rel="stylesheet">
	{{ encore_entry_link_tags('chat') }}
{% endblock %}
{% block body %}
	<div id="root"></div>
	<input type="hidden" id="user_language" value="{{ app.request.getLocale() }}"/>
	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		<input type="hidden" id="user_id" value="{{app.user.id }}"/>
	{% endif %}

{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('chat') }}
{% endblock %}

